<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'/>

    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/sb-admin/js/sb-admin.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <title><%= title %></title>

    <script>
        var TokenCrowdsaleArtifact = null;
        var PausableTokenArtifact = null;
        var contracts = {};

        $(function(){
            "use strict"; // Start of use strict

            $('#dataTable').DataTable();

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
            } else {
                const provider = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/0c938ce8db2547fdbb12f73b5d500aca"));
                web3= new Web3( provider );
            }

            $.getJSON('/blockchain/TokenCrowdsale.json', function(data) {
                TokenCrowdsaleArtifact = data;
                contracts.TokenCrowdsale = TruffleContract(TokenCrowdsaleArtifact);
                contracts.TokenCrowdsale.setProvider(web3.currentProvider);
            });

            $.getJSON('/blockchain/PausableToken.json', function(data) {
                PausableTokenArtifact = data;
                contracts.PausableToken = TruffleContract(PausableTokenArtifact);
                console.log(web3);
                contracts.PausableToken.setProvider(web3.currentProvider);
            });

            postAjaxMethod('/coins/search', {'coinType': 'btc'}, renderHTML);
        });

        let pageIdx = 0;
        let lastPageYn = false;

        function search(pageType) {
            let param = {
                "perPage": 20
            };

            if($('#coinType').val() != "") param["coinType"] = $('#coinType').val();
            // if(pageType == "prev") {
            //     if(pageIdx == 0) {
            //         alert("맨 처음 페이지 입니다.");
            //         return;
            //     }
            //     pageIdx = pageIdx - 1;
            //     param["pageIdx"] = pageIdx;
            // } else if(pageType == "next") {
            //     if(lastPageYn) {
            //         alert("마지막 페이지 입니다.");
            //         return;
            //     }
            //     pageIdx = pageIdx + 1;
            //     param["pageIdx"] = pageIdx;
            // } else {
            //     pageIdx = 0;
            // }

            postAjaxMethod('/coins/search', param, renderHTML);
        }

        function renderHTML(res) {
            console.log(res);
            let data = res.data;

            if(data.length > 0) {
                // if(data.length < 20) {
                //     lastPageYn = true;
                // }
                $('#coin-list').html('');
            } else {
                $('#coin-list').html('<tr>\n' +
                    '                                    <td colspan="8">검색 결과가 없습니다.</td>\n' +
                    '                                </tr>');
            }

            for(var i in data) {
                for(var j in data[i].coinHistory) {
                    let result = '<tr>\n' +
                        '                                <td><input type="hidden" class="hid_history'+(i+j)+'" value="' + data[i].coinHistory[j]._id + '">' +
                        '                                   <input type="hidden" class="hid_regDate'+(i+j)+'" value="' + data[i].coinHistory[j].regDate + '">' +
                        data[i].coinHistory[j].regDate + '</td>\n' +
                        '                                <td>' + data[i].last_name + data[i].first_name + '</td>\n' +
                        '                                <td><input type="hidden" class="hid_address'+(i+j)+'" value="' + data[i].coins.ether_address + '">' + data[i].coins.ether_address + '</td>\n' +
                        '                                <td><input type="hidden" class="hid_price'+(i+j)+'" value="' + data[i].coinHistory[j].price + '">' + data[i].coinHistory[j].price + '</td>\n' +
                        '                                <td><input type="hidden" class="hid_dai'+(i+j)+'" value="' + data[i].coinHistory[j].dai + '">' + data[i].coinHistory[j].dai + '</td>\n' +
                        '                                <td>' + (data[i].coinHistory[j].withdraw_history_id == undefined ? false : true) + '</td>\n'+
                        '                                <td>';
                    if (data[i].coinHistory[j].withdraw_history_id == undefined) {
                        result += '                                   <button class="btn btn-outline-info btn-sm btn-trans'+(i+j)+' trans'+(i+j)+'" onclick="sendTransaction(\'' + data[i].coinId + '\',\''+(i+j)+'\')">전송</button>';
                    }
                    result += '                               </td>' +
                        '                                <td><span class="span_lockup' + (i + j) + '">';
                    if(data[i].daiWithdrawHistory[j] == undefined || data[i].daiWithdrawHistory[j].lockup == undefined) {
                        result += '                         <input type="number" class="form-control lockup' + (i + j) + '">' +
                            '                               <input type="hidden" class="hid_daiWithDrawId' + (i + j) + '" value="' + (data[i].coinHistory[j].withdraw_history_id == undefined ? '' : data[i].coinHistory[j].withdraw_history_id) + '">' +
                            '                                   <button class="btn btn-outline-info btn-sm trans' + (i + j) + '" onclick="sendTransactionLockup(\'' + data[i].coinId + '\',\'' + (i + j) + '\')">전송</button>';
                    } else {
                        result += data[i].daiWithdrawHistory[j].lockup;
                    }
                    result += '                               </span></td>' +
                        '                    </tr>';
                    $('#coin-list').append(result);
                }
            }
        }

        var gTarget;

        function sendTransaction(coinId, target) {
            //console.log(coinId);

            gTarget = target;

            $('.trans' + target).prop('disabled', true);
            $('.trans' + target).text('처리중');

            let to = $('.hid_address' + target).val();
            let amount = $('.hid_dai' + target).val();

            contracts.TokenCrowdsale.deployed().then(function(instance) {
                let crowdsale = instance;
                return crowdsale.token();
            }).then(function(address){
                var token_contract_address = address;
                //console.log(amount, 'Token contract address: ' + token_contract_address);
                let token_contract = contracts.PausableToken.at(token_contract_address);
                return token_contract.transfer(to,parseInt(amount) * Math.pow(10, 18));
            }).then(function(result) {
                console.log('success');

                //daiwithdrawhistory 저장
                let param = {
                    "historyId": $('.hid_history' + target).val(),
                    "fromCoinType": $('#coinType').val(),
                    "coinId": coinId,
                    "coinType": 'dai',
                    "address": $('.hid_address' + target).val(),
                    "price": $('.hid_price' + target).val(),
                    "completedPrice": $('.hid_price' + target).val(),
                    "dai": $('.hid_dai' + target).val(),
                    "status": true,
                }

                putAjaxMethod('/coins/'+coinId, param, resultCall);
            }).catch(function(err) {
                console.log('error', err.message);
                $('.trans' + target).prop('disabled', false);
                $('.trans' + target).text('전송');
            });
        }

        function resultCall (result) {
            alert('전송 완료');
            //console.log(result);
            $('.hid_daiWithDrawId' + gTarget).val(result.data._id);
            $('.trans' + gTarget).prop('disabled', false);
            $('.trans' + gTarget).text('전송');
            $('.btn-trans' + gTarget).css('display', 'none');
        }

        function sendTransactionLockup(coinId, target) {
            console.log(coinId);
            gTarget = target;
            //lock걸려져 있는 dai withdraw history data를 조회한다.
            getAjaxMethod('/coins/' + coinId, getLockupHistorys);
        }

        function getLockupHistorys(result) {
            console.log(result);
            let total_dai = parseInt($('.hid_dai' + gTarget).val());
            for(var i in result.data) {
                total_dai += parseInt(result.data[i].dai);
            }

            let regDate = convertDate($('.hid_regDate' + gTarget).val());
            let lockup = parseInt($('.lockup' + gTarget).val()) * 30 * 24 * 60 * 60;
            let addDate = regDate + lockup;
            let addr = $('.hid_address' + gTarget).val();
            let hid_daiWithDrawId = $('.hid_daiWithDrawId' + gTarget).val();

            console.log(total_dai);

            contracts.TokenCrowdsale.deployed().then(function(instance) {
                let crowdsale = instance;
                return crowdsale.timelock(addr, addDate, total_dai);
            }).then(function(result) {
                let param = {
                    "historyId": hid_daiWithDrawId,
                    "lockup" : $('.lockup' + gTarget).val(),
                };
                putAjaxMethod('/coins/withdraw/'+hid_daiWithDrawId, param, resultCallLockup);
            }).catch(function(err) {
                console.log('error', err.message);
                $('.trans' + gTarget).prop('disabled', false);
                $('.trans' + gTarget).text('전송');
            });
        }

        function resultCallLockup (result) {
            alert('전송 완료');
            console.log(result);
            $('.trans' + gTarget).prop('disabled', false);
            $('.trans' + gTarget).text('전송');
            $('.trans' + gTarget).css('display', 'none');
            $('.span_lockup' + gTarget).text(result.data.lockup)
        }

        function convertDate(date){
            return Date.parse(date)/1000;
        }

        function initDate(date) {
            return new Date(date * 1000);
        }
    </script>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="/">DAIOS</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!--<a class="dropdown-item" href="#">Settings</a>-->
                    <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>사용자 관리</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="userManagementDropdown">
                    <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                    <a class="dropdown-item" href="/users/lists">회원 관리</a>
                    <a class="dropdown-item" href="/staffs/lists">스태프 관리</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>코인관리</span>
                </a>
            </li>
        </ul>
        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">코인관리</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>

                <!-- DataTables Example -->
                <div class="card mb-3 history-table">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row" style="margin-bottom:5px;">
                                <div class="col-md-2">
                                    Coin
                                </div>
                                <div class="col-md-6">
                                    <select id="coinType" class="form-control" onchange="search('');">
                                        <option value="btc">BTC</option>
                                        <option value="eth">ETH</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-row">-->
                                <!--<div class="form-label-group">-->
                                    <!--<button class="btn btn-primary btn-block" onclick="search('');">Search</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="card mb-3 history-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="coinHistoryList" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Request Date</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Price</th>
                                    <th>Daios</th>
                                    <th>Status</th>
                                    <th>Send</th>
                                    <th>Lockup</th>
                                </tr>
                                </thead>
                                <tbody id="coin-list">
                                    <tr>
                                        <td colspan="8">검색 결과가 없습니다.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>