<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'/>

    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/sb-admin/js/sb-admin.min.js"></script>
    <script src="/javascripts/common.js"></script>

    <title><%= title %></title>

    <script>
        let pageIdx = 0;
        let lastPageYn = false;
        $(function(){
            "use strict"; // Start of use strict

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            postAjaxMethod('/users/search', {}, renderHTML);
        });

        function search(pageType) {
            let param = {
                "perPage": 20
            };

            if($('#userId').val() != "") param["userTag"] = $('#userId').val();
            if($('#country').val() != "") param["country"] = $('#country').val();
            if(pageType == "prev") {
                if(pageIdx == 0) {
                    alert("맨 처음 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx - 1;
                param["pageIdx"] = pageIdx;
            } else if(pageType == "next") {
                if(lastPageYn) {
                    alert("마지막 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx + 1;
                param["pageIdx"] = pageIdx;
            } else {
                pageIdx = 0;
            }

            postAjaxMethod('/users/search', param, renderHTML);
        }

        function renderHTML(res) {
            console.log(res);
            let data = res.data;

            console.log(data.length);
            if(data.length > 0) {
                if(data.length < 20) {
                    lastPageYn = true;
                }
                $('#user-list').html('');
            } else {
                $('#user-list').html('<tr>\n' +
'                                    <td colspan="6">검색 결과가 없습니다.</td>\n' +
'                                </tr>');
            }

            for(var i in data) {
                let result = '<tr>\n' +
'                                <td>'+data[i]._id+'</td>\n' +
'                                <td>'+(data[i].first_name == undefined ? '-' : data[i].last_name + data[i].first_name) +'</td>\n' +
'                                <td>'+data[i].email+'</td>\n' +
'                                <td>'+(data[i].phone == undefined ? '-' : data[i].phone)+'</td>\n' +
'                                <td>'+data[i].country+'</td>\n' +
// '                                <td>' +
// '                                   <button class="btn btn-outline-info btn-sm" data-id="'+data[i]._id+'" data-toggle="modal" data-target="#modifyStaffModal">수정</button>' +
// '                                   <button class="btn btn-outline-danger btn-sm" onclick="deleteStaff(\''+data[i]._id+'\')">삭제</button>' +
// '                               </td>\n' +
'                            </tr>';
                $('#user-list').append(result);
            }
        }
    </script>
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">MACH Exchange</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="#">Settings</a>-->
                <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="userManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>사용자 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="userManagementDropdown">
                <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                <a class="dropdown-item" href="/users/lists">회원 관리</a>
                <a class="dropdown-item" href="/staffs/lists">스태프 관리</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/coins">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>코인관리</span>
            </a>
        </li>
    </ul>
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">회원 관리</a>
                </li>
                <li class="breadcrumb-item active">목록</li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-2">
                                E-mail
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="userId" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group">
                                <button class="btn btn-primary btn-block" onclick="search('');">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>User Name</th>
                                <th>E-Mail</th>
                                <th>Mobile</th>
                                <th>Country</th>
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody id="user-list">
                                <tr>
                                    <td colspan="5">검색 결과가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('prev');" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span><span>prev</span>
                            </a>
                        </li>
                        <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('next');" aria-label="Next">
                                <span>next</span>&nbsp;<span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>