<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'/>

    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/sb-admin/js/sb-admin.min.js"></script>
    <script src="/javascripts/common.js"></script>

    <title><%= title %></title>

    <script>
        $(function(){
            "use strict"; // Start of use strict

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            $('#registerStaffModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);

                modal.find('.modal-title').text(modalTitle);
                modal.find('#registerStaff').load('/staffs/register');
            });

            $('#modifyStaffModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);
                let staffId = button.data('id');

                modal.find('.modal-title').text(modalTitle);
                modal.find('#modifyStaff').load('/staffs/detail/' + staffId);
            });

            postAjaxMethod('/staffs/search', {}, renderHTML);
        });

        function renderHTML(res) {
            console.log(res);
            let data = res.data;

            if(data.length > 0) {
                $('#staff-list').html('');
            }

            for(var i in data) {
                let result = '<tr>\n' +
'                                <td>'+data[i].userTag+'</td>\n' +
'                                <td>'+data[i].userName+'</td>\n' +
'                                <td>'+data[i].email+'</td>\n' +
'                                <td>'+data[i].phone+'</td>\n' +
'                                <td>'+data[i].regDate+'</td>\n' +
'                                <td>' +
'                                   <button class="btn btn-outline-info btn-sm" data-id="'+data[i]._id+'" data-toggle="modal" data-target="#modifyStaffModal">수정</button>' +
'                                   <button class="btn btn-outline-danger btn-sm" onclick="deleteStaff(\''+data[i]._id+'\')">삭제</button>' +
'                               </td>\n' +
'                            </tr>';
                $('#staff-list').append(result);
            }
        }

        function deleteStaff(staffId) {
            let confirmYn = confirm('삭제 하시겠습니까?');
            if(confirmYn) {
                deleteAjaxMethod('/staffs/'+ staffId, resultCall);
            }
        }

        function resultCall (result) {
            location.href = '/staffs/lists';
        }
    </script>
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">MACH Exchange</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="#">Settings</a>-->
                <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="userManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>사용자 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="userManagementDropdown">
                <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                <a class="dropdown-item" href="/users/lists">회원 관리</a>
                <a class="dropdown-item" href="/staffs/lists">스태프 관리</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>코인관리</span>
            </a>
        </li>
    </ul>
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">회원 관리</li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerStaffModal">스태프 추가</button></li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Reg Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="staff-list">
                                <tr>
                                    <td colspan="6">검색 결과가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- add staff Modal-->
<div class="modal fade" id="registerStaffModal" tabindex="-1" role="dialog" aria-labelledby="registerStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerStaffModalLabel">스태프 등록</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="registerStaff">

            </div>
        </div>
    </div>
</div>

<!-- modify staff Modal-->
<div class="modal fade" id="modifyStaffModal" tabindex="-1" role="dialog" aria-labelledby="modifyStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyStaffModalLabel">스태프 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modifyStaff">

            </div>
        </div>
    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>